[2018-02-19 12:08] JanneKiiskila opened #2 "Drivers eats 111 bytes even if not used"
Seems this driver is having something "extra" that should not be compiled in (or linker doesn't know how to remove).  If you compile mbed-os-example-client for ETHERNET - this driver should not even be linked in - but, in reality it seems to as Mbed OS compiles everything - it doesn't know how to drop it all out.

`mbed compile -m K64F -t GCC_ARM --stats-depth 2`

[code]
(This with gcc arm).

In c

[2018-02-19 12:20] JanneKiiskila commented on #2
I wonder if this driver REALLY needs the ATParser (of it's own), should it use the one under Mbed OS?
Ref: https://github.com/ARMmbed/mbed-os/issues/4040

Mbed OS Master (unfortunatley, master only - coming to 5.8) also supports buffered Serial, that might remove the need for this whole buffered SPI code?

[2018-02-19 12:52] adustm commented on #2
Hello @JanneKiiskila

I don't know how to completely remove the ism43362 driver from the link. Let me know if I need to do some changes for that.

This wifi driver is using SPI 16bytes exchanges. The ATCmdParser from mbed-os is written for files, using  serial UART 8bytes exchanges.
The ISM43362 wifi does not have an interrupt when datas are received (no oob processing).
If you compare both files

[2018-02-26 14:35] jononi opened #3 "No SSIDsare detected on DISCO_L475VG_IOT01A"
I've been using the old [WiFi firmware](https://os.mbed.com/teams/ST/code/DISCO_L475VG_IOT01A_wifi/) without any issue but this driver is not detecting any existing WiFi network and the only SSID I've been able to make it connect to is a hotspot WiFi created on my laptop. Not sure what kind of tests you ran on this board.
I'm testing it on the MB1297 rev C-01 board.

[2018-02-26 14:40] LMESTM commented on #3
@jononi  - what application code are you using for this test ?
When moving to this new driver, we recommend to test with corresponding mbed standard code, like https://os.mbed.com/teams/ST/code/mbed-os-example-wifi/
Have you met issues with the above application or a different one ?
If you could provide application code reference as well as any application logs, that would help.

[2018-02-26 15:37] jononi commented on #3
I did use the example you are referring to exactly as it is, and the only time when I can get an SSID listed is when I turn on the mobile hotspot on my PC, although there is several other APs with strong signal around (my home network is not detected even when the board is close by).
Is there a timeout period variable for listening to broadcasting APs that can be increased ?

[2018-02-27 07:52] LMESTM commented on #3
@jononi
Yes, there is a timeout right here:
https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362Interface.cpp#L25
But I don't think it would change anything, the WIFI module does not wait for the end of this timeout, as it quickly reports the list of found networks whatever the timeout (I've just tried the change). In my office, whatever the timeout the module will report the 8 or 9 avail

[2018-02-27 08:30] adustm commented on #3
Hello @jononi,
Another try would be to comment the scan_demo call and see if the rest of the test is passing.
Let us know.

[2018-02-27 12:47] LMESTM commented on #3
@jononi  Ok - we found out that the module can report access points in different formats.
I had no such AP in my office, but @adustm found one such AP in her office.
Could you check proposed fix  #4 and let us know if this solves your issue ?

[2018-02-27 15:38] jononi commented on #3
Thank you ST team for your efforts. :clap: I added the changes you made and now I can see all the broadcasting networks around. The one issue I had is that the detected parameters are not correct, and thus, I still can't connect to my home network. Here a snippet from the scan function output:
[code]

The first one is for my home network, the name is truncated and its WPA security not detected her

[2018-02-27 17:06] adustm commented on #3
Hello @jononi
Pr#5 fixes the security level programmation

[2018-02-27 17:24] adustm commented on #3
Hello @jononi
I have used 'Something Tologon' as SSID, and I can see the space character is well transmitted to the wifi module (you can see it when using the trace tips from @LMESTM
https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ATParser/ATParser.cpp#L39
by defining
[code]
)

There will be a moment where you will read in the Hyper Terminal
AT> C1=Something Tologon

I will have to c

[2018-02-27 21:47] jononi commented on #3
I enabled the tracing log and created another network named: "guest network"
Here's what I got:

[code]
It looks like the space in the ssid name is creating the confusion that there are two separate AP, one with ssid="guest" and the other ssid="network".

Looking at the connection attempt, here the output:

[code]

Like you mentioned, the ssid is entered correctly with C1 command, same thing for t

[2018-02-28 08:18] LMESTM opened #6 "Scan fails if Access Point name contains a space"
As reported in initial issue #3

from @jononi
I enabled the trace log and created another network named: "guest network"
Here's what I got:

...
AT? ====#%*s
%n====
23 30 30 31 2C 22 67 75 65 73 74 20 AT= ====#001,"guest ====
Pending data
AT? ====#%*s
%n====
6E 65 74 77 6F 72 6B 22 2C 35 34 3A 41 30 3A 35 30 3A 44 31 3A 46 34 3A 41 39 2C 2D 37 34 2C 32 31 36 2E 37 2C 49 6E 66 72 61 73 74 72 75 63

[2018-02-28 08:20] LMESTM commented on #3
@jononi Thanks
I created issue #6 to track space related issue. There seems to be a problem with the AT parser that stops at the space character instead of the end of line. So let's track the space issue in separate thread.

[2018-02-28 08:21] LMESTM commented on #6
There seems to be a problem with the AT parser that stops at the space character instead of the end of line - to be investigated

[2018-04-03 08:26] adustm commented on #6
Hello @jononi
PR#8 fixes this issue.

Let us know if it's ok and we'll close this one.

[2018-04-03 08:28] adustm commented on #3
Hello @jononi @LMESTM
Do you agree to close this issue ?

[2018-04-03 08:29] LMESTM commented on #3
+1

[2018-04-04 17:40] jononi commented on #3
SSID name with space is no longer an issue now. I confirm it can be listed and joined.

[2018-04-04 17:40] #3 closed

[2018-04-04 17:40] jononi commented on #6
It's fixed now. Thanks

[2018-04-05 08:46] #6 closed

[2018-05-29 08:08] jeromecoutant opened #12 "NSAPI_ERROR_AUTH_ERROR error case"
During connect procedure, if password is invalid, NSAPI_ERROR_AUTH_ERROR should be returned.
In this case, current answer is NSAPI_ERROR_NO_CONNECTION

See in https://github.com/ARMmbed/mbed-os/blob/5d8570be39bcb6ce8807f45c3a6d558201a0de84/features/netsocket/WiFiInterface.h#L84

It seems it is nor possible with current Inventek driver ?
Should we request MBED-OS to relax this API ?

[2018-05-31 13:31] SeppoTakalo opened #15 "Driver does not define SPI pins, but depend on application to define those"
This driver does not correctly define its build time dependencies.

https://github.com/ARMmbed/wifi-ism43362 driver requires SPI pin configurations, it should therefore have `mbed_lib.json` that defines these variables, and use macros generated from those.
Defaults should be `NC` so that it builds on all platforms, them you can provide sensible defaults for some platforms you know the pin names al

[2018-05-31 14:57] jeromecoutant commented on #15
I tried to implement the correct mechanism.
Could you check https://github.com/jeromecoutant/wifi-ism43362/tree/PR_JSON
Thx

[2018-06-01 08:51] SeppoTakalo commented on #15
I'll close this,

I misunderstood the documentation.
The driver is actually NOT using those configuration values, but instead expecting application to use these. Therefore the `README.md` is misleading.

[2018-06-01 08:51] #15 closed

[2018-06-21 10:39] teetak01 opened #24 "ATParser.cpp: incompatible redefinition of macro MIN"
### Description
Mbed OS 5.9.1
Component: ARM Compiler 5.06 update 3 (build 300)

[code]
[ ] Question
[ ] Enhancement
[X] Bug

This driver is still using its own ATParser.cpp. Would it make sense to use the Mbed OS implementation instead and remove this component?

For. ESP8266 removed the dependency here: https://github.com/ARMmbed/esp8266-driver/pull/46

[2018-06-21 10:40] teetak01 commented on #24
Originally reported here: https://github.com/ARMmbed/mbed-os/issues/7256

[2018-08-09 11:17] danny4478 opened #26 "Running WiFi example on DISCO_F413ZH board"
I am trying to run the WiFi example https://github.com/ARMmbed/mbed-os-example-wifi on DISCO_F413ZH board, but the scan does not find any access points.
wifi->scan() returns 0 and I get “scan() failed with return value: 0”.

When ignoring the scan failure and attempt to connect I get this error:,
NSAPI_ERROR_DEVICE_ERROR [failure interfacing with the network processor (-3012)]

Am I using a suppor

[2018-08-09 11:41] jeromecoutant commented on #26
Hi

Yes, DISCO_F413ZH is a supported board,
and yes we have some issues with the scan procedure when wifi environment is very populated...

Is it working if you skip the full scan_demo part ?

[2018-08-09 15:01] danny4478 commented on #26
No.
When ignoring the scan failure and attempt to connect I get this error:
NSAPI_ERROR_DEVICE_ERROR [failure interfacing with the network processor (-3012)]

[2018-08-14 07:33] LMESTM commented on #26
@danny4478  what jerome proposed as a test is to **skip the entire scan** part and directly go to the connect - have you tried that ?  There is a known issue in the firmware when too many APs around.

[2018-08-15 07:12] danny4478 commented on #26
Hi
After removing the entire scan part, and directly go to the connect as suggested, we get a successful connection.
@jeromecoutant @LMESTM Thanks for you support on this.

We are now trying to run this example on a Cypress PSoC 6 BT-WiFi board. Assuming we manage to add this new target to mbed-os, is there any reason this wifi example would not work on this board?

[2018-09-11 16:06] jeromecoutant commented on #26
Hi
Maybe we can close this issue ?
Thx

[2018-09-11 16:10] jeromecoutant opened #28 "mbed-os DNS test failure"
Hi

### Command:
mbed test -t ARM -m DISCO_L475VG_IOT01A -v -n tests*dns

### Result:
| target                  | platform_name       | test suite          | test case                             | passed | failed | result | elapsed_time (sec) |
|-------------------------|---------------------|---------------------|---------------------------------------|--------|--------|--------|----------------

[2018-09-12 06:51] #26 closed

[2018-09-12 06:51] danny4478 commented on #26
I have closed it.
Thanks

From: jcostm <notifications@github.com>
Sent: Tuesday, September 11, 2018 7:06 PM
To: ARMmbed/wifi-ism43362 <wifi-ism43362@noreply.github.com>
Cc: Danny Shavit <Danny.Shavit@arm.com>; Mention <mention@noreply.github.com>
Subject: Re: [ARMmbed/wifi-ism43362] Running WiFi example on DISCO_F413ZH board (#26)

Hi
Maybe we can close this issue ?
Thx

—
You are receiving this b

[2018-09-12 08:07] jeromecoutant opened #29 "mbed-os TCP test failure : TCPSOCKET_ENDPOINT_CLOSE test case"
### Status
TCP test is FAIL for both DISCO F413 and L475 :

| target               | platform_name | test suite                                                                   | test case                                                                                         | passed | failed | result  | elapsed_time (sec) |
|----------------------|---------------|-------------------------------

[2018-09-12 08:21] jeromecoutant opened #30 "mbed-os UDP test failure : UDPSOCKET_ECHOTEST_BURST test case"
### Status
UDP test is FAIL for both DISCO F413 and L475 :

| target               | platform_name | test suite                                                                   | test case                                                                                         | passed | failed | result  | elapsed_time (sec) |
|----------------------|---------------|-------------------------------

[2018-10-23 13:22] jeromecoutant opened #31 "mbed-os interface tests failed"
Hi

tests-network-interface is OK with all Ethernet boards,
but failed with Wifi boards :

Target | Toolchain | TestSuite | TestCase | mbed-os-5.10.1
-- | -- | -- | -- | --
DISCO_F413ZH | ARM | tests-network-interface | NETWORKINTERFACE_STATUS | ERROR
DISCO_F413ZH | GCC_ARM | tests-network-interface | NETWORKINTERFACE_STATUS | ERROR
DISCO_F413ZH | IAR | tests-network-interface | NETWORKINTERFACE_S

[2018-11-09 14:49] JanneKiiskila commented on #2
I think this is resolved by some work by the Mbed OS core networking team, @SeppoTakalo - I think this ticket can be closed?

[2018-11-09 14:49] #2 closed

[2019-01-02 14:50] jeromecoutant commented on #28
Fixed by https://github.com/ARMmbed/wifi-ism43362/pull/34

[2019-01-02 14:50] #28 closed

[2019-01-07 10:18] Vanireddy6 opened #35 "How to write and execute testcases for ble apps through icetea in mbed?"

[2019-01-07 10:49] jeromecoutant commented on #35
Hi
Note that wifi-ism43362 doesn't support BLE...

[2019-01-07 10:50] 0xc0170 commented on #35
@Vanireddy6 Can you provide more details, what have you tried? What would you like to test?

this seems to be better fit to ask in Mbed OS repository.

[2019-01-08 16:08] jeromecoutant commented on #35
Please, open an issue in the mbed-os repo.
This repo is Wifi only...
Thx

[2019-01-08 16:08] #35 closed

[2019-01-17 15:54] jeromecoutant opened #36 "Keep alive implementation"
Hi

New test in mbed-os:

https://github.com/ARMmbed/mbed-os/blob/284781a565b4f078cf7d23a9414c166174ed3a05/TESTS/netsocket/tcp/tcpsocket_setsockopt_keepalive_valid.cpp#L32

This looks to be optional:

    /** Set socket options.
     *
     *  setsockopt() allows an application to pass stack-specific options
     *  to the underlying stack using stack-specific level and option names,
     *  or to

[2019-01-17 16:02] jeromecoutant commented on #36
ISM43362Interface.cpp:

+nsapi_error_t ISM43362Interface::setsockopt(nsapi_socket_t handle, int level,
+                                           int optname, const void *optval, unsigned optlen)

[2019-01-24 15:46] screamerbg commented on #30
@LMESTM @adustm @jeromecoutant @bcostm Who's going to take a look at the issue?

[2019-01-24 15:46] screamerbg commented on #29
@LMESTM @adustm @jeromecoutant @bcostm Who's going to take a look at the issue?

[2019-01-29 14:47] #31 closed

[2019-01-29 14:53] #29 closed

[2019-02-19 13:46] 0xc0170 commented on #24
@jeromecoutant Is this still an issue? Shall be closed or fixed?

[2019-02-19 13:55] jeromecoutant commented on #24
About MIN macro redefinition, to be honest, I don't know

About using AT parser from mbed-os, this is still in my long todo list :-)

[2019-03-26 11:51] michalpasztamobica opened #41 "Corrupt address returned in an mbed-os DNS greentea test suite"
When running the tests-netsocket-dns test suite I came across a repeatable failure in ASYNCHRONOUS_DNS_NON_ASYNC_AND_ASYNC:
[code]
Finding the ":" indicates that an IPv6 address has been returned from DNS, rather than IPv4. I have checked that mbed-os is passing an IPv4 version of the address when calling sendto.
I can only see this failure for DISCO_L475VG_IOT01A and DISCO_F413ZH which are the tw

[2019-03-26 12:11] jeromecoutant commented on #41
Hi

I confirm that with 5.12.0 release, I got the same issue with this test .

(test was OK with 5.11.5)

[2019-03-26 12:27] jeromecoutant commented on #41
But I don't think it is related to IPV6

Here is 3 different output I can see in ST CI for this tests:

[code]
[code]
[code]

[2019-03-26 12:49] michalpasztamobica commented on #41
@jeromecoutant , thanks for your quick response!
I can see the following in our nightly CI builds:
[code]
Locally I always get the ":" parsing error, so I though it could be something with ipv6,
However looking at your outputs - this could be just me always getting the same random memory corruption. I will adjust the title, to make it more generic, until the root cause is known...

[2019-03-26 14:49] jeromecoutant commented on #41
Test is failing since https://github.com/ARMmbed/mbed-os/pull/9387

@tymoteuszblochmobica could you help finding the issue in wifi-ism43362 ?

@SeppoTakalo

Thx

[2019-03-26 15:14] michalpasztamobica commented on #41
I guess the [ESP8266 stack](https://github.com/ARMmbed/mbed-os/tree/master/components/wifi/esp8266-driver) should work in a similar manner to ISM43362?
Merging multihoming did not affect ESP8266 stack, so perhaps a comparison of the two would reveal something?
I can see [ESP8266 uses the default gethostbyname()](https://github.com/ARMmbed/mbed-os/blob/ca62922c9fb261d98ca2fbe7533f888a81e474c6/compo

[2019-03-26 16:10] janjongboom opened #42 "Sending in quick succession fails"
Here I have a large message that is sent, which is then automatically split up in multiple packets. However the second one will fail immediately:

[code]

Adding a 50 ms. sleep in send() fixes it, but that shouldn't be a solution. Not sure how to fix this @jeromecoutant

[2019-03-26 16:27] janjongboom commented on #42
I did it like this now:

[code]

[2019-03-26 16:50] LMESTM commented on #42
@janjongboom
thanks for the proposed fix.
One point first - have you checked which Inventek firmware version is on your board?
C3.5.2.5.STM version would be great and there is a small (Windows) utility and readme here:
https://www.st.com/resource/en/utilities/inventek_fw_updater.zip
The version can be checked on console when activating
#define ism_debug 1
https://github.com/ARMmbed/wifi-ism43362/b

[2019-03-26 17:07] janjongboom commented on #42
@LMESTM Yeah, testing it now. This is my log:

[code]

[2019-03-26 17:26] janjongboom commented on #42
Full log with updated module:

[code]

[2019-03-26 17:31] janjongboom commented on #42
Actually my proposed fix now stopped working too; wondering what happened.

[2019-03-26 18:15] janjongboom commented on #42
Here's an example program: https://github.com/coisme/Mbed-to-Azure-IoT-Hub/pull/2

[2019-03-27 08:51] LMESTM commented on #42
So do you see exactly the same trace when adding back your workaround ?
Looks like we're not receiving "OK" back from the module.
Would you run one more test with moving debug to true in BufferedSpi.cpp ?
   #define local_debug false
This should confirm the timeout happens. I'd like to verify how much the timeout is set.
It's supposed to be very high here (1 minute) - do you see  a long pause befo

[2019-03-27 11:15] janjongboom commented on #42
@LMESTM Do you have an email address and I can send you a file with my certificate?

[2019-03-28 14:29] janjongboom commented on #42
Could this be a corruption issue?

[code]

But max data read is 1460 bytes. Potentially writing outside the buffer?

[2019-04-01 09:08] janjongboom opened #48 "socket struct allocates 1400 bytes for buffer, is this correct?"
Why is `read_data` size set to 1400 in the socket struct and not to `ES_WIFI_MAX_RX_PACKET_SIZE`? Is there a reason for this or are we wasting 150 bytes per socket now?

@jeromecoutant

[2019-04-01 10:02] LMESTM commented on #48
@janjongboom most probably a mistake. Need to change it and test ...

[2019-04-03 11:15] jeromecoutant commented on #42
Should be fixed with #47

[2019-04-03 11:15] #42 closed

[2019-04-04 08:25] michalpasztamobica opened #50 "mbed-os Greentea tests-network-wifi testsuite fails with AUTH_FAILURE"
mbed-os greentea tests-network-wifi is failing on multiple test cases returning AUTH_FAILURE in [this line](https://github.com/ARMmbed/wifi-ism43362/blob/cfbb9766888732b1090b6b69d3772381d87e9acd/ISM43362/ISM43362.cpp#L230):

[code]
The issue is 99% reproducible, but I got those tests passing if I commented out the two WIFI-SCAN tests. At first glance I could not find the issue in the code, perhaps

[2019-04-04 09:24] michalpasztamobica opened #51 "Hard fault in mbed-os greentea tests-netsocket-tls after buffer size is changed"
We have observed mbed-os greentea tls socket tests with a hardfault exception:
[code]
Quick bisection revealed that [this commit](https://github.com/ARMmbed/wifi-ism43362/commit/666d61e062314ae1b5ecc04f7a86c881a1bbeb3e) introduced the issue:
[code]

Other tests are passing fine. I assume TLS is causing the issue as it is probably sending some larger packets (the key itself weighs more than 1600B).

[2019-04-04 14:51] jeromecoutant commented on #50
Hi
Analysis is on going

[2019-04-12 00:06] luiscavanillas opened #52 "Implementation of server socket"
Hi,

I was wondering when "socket_bind", "socket_listen" and "socket_accept" will be supported so server sockets can be created.
I can't really manage to use the AT Commands correctly to start a server and manage client connections on my own.

Thanks in advance!

[2019-04-12 06:02] thota4u opened #53 "WiFi module ISM43362-M3G-L44 scanning was failed , if surrounded access points are more than 20."
Hi Team,

We are working on DISCO-L475VG-IOT01A board with WiFi module Inventek ISM43362-M3G-L44 (802.11 b/g/n compliant) for ARM mbed pelion cloud.

issue : WiFi module ISM43362-M3G-L44 scanning was failed , if surrounded access points are more than 20.

could you please let me know how to fix this issue?

Thanks & Regards
Praveen.Thota

[2019-04-12 06:25] jeromecoutant commented on #53
Hi

One point first - have you checked which Inventek firmware version is on your board?
C3.5.2.5.STM version would be great and there is a small (Windows) utility and readme here:
https://www.st.com/resource/en/utilities/inventek_fw_updater.zip

The version can be checked on console when activating
#define ism_debug 1
https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ISM43362.cpp#L22

[2019-04-12 07:10] thota4u commented on #53
Hi Jerome Coutant,

Thanks for your reply.

yes , we already updated our firmware version to C3.5.2.5.STM version
still we are facing the issue on mbed os 5.10.4 : scan fails if access points are more than 20.

We also tried the same board with Amazon Free RTOS with latest firmware version : C3.5.2.5.STM where scanning was working with out any issues.

and then we tried mbed os 5.10.4 with latest

[2019-04-12 12:32] #51 closed

[2019-04-12 12:38] jeromecoutant commented on #48
Reopened as #54 has reverted first fix

[2019-04-12 14:45] #50 closed

[2019-04-12 14:53] jeromecoutant opened #56 "SPI TX Buffer size should be optimized"
See #55, buffer size is 2500,
whereas ES_WIFI_MAX_TX_PACKET_SIZE is 1460

Issue is due to old wifi FW version in DISCO-F413

Propositions:
- add some FW version check before setting the size?
- make a specific buffer for TX, for RX, and for scan procedure ?

[2019-04-12 15:02] jeromecoutant commented on #53
Could you check https://github.com/jeromecoutant/wifi-ism43362/tree/PR_SCAN
?

[2019-04-15 08:36] michalpasztamobica commented on #50
@jeromecoutant , I am sorry, but I can still see the same AUTH_FAILURE errors in our Greentea test suite, with the latest revision of wifi-ism43362 driver.
Would you please double check that the revert which you applied fixes the issue?

[2019-04-23 06:56] michalpasztamobica commented on #50
@jeromecoutant , please, double check. The issue is not fixed. I can see the failures repeated every day in our CI.

[2019-04-24 13:48] jeromecoutant commented on #53
Hi @thota4u
Did you have time to check the change ?

[2019-04-24 14:41] jeromecoutant commented on #52
Hi @luiscavanillas

I am sorry, but this request is not in ST plan...

@SeppoTakalo do you have any tips?

[2019-04-25 01:10] luiscavanillas commented on #52
You can close the request, I finally implemented it on my own :)

[2019-04-25 01:10] #52 closed

[2019-04-25 05:26] jeromecoutant commented on #52
Hi
Feel free to push a pull request :-)

[2019-04-25 07:18] michalpasztamobica commented on #50
@jeromecoutant , I am sorry, you are right - F413ZH behaves correctly now, so the issues with L475 that we're seeing cannot be related to the wifi driver. We will investigate further on our side. Thanks for checking!

[2019-05-13 21:51] AndreAhmed opened #58 "Server Requests"
Hello,
I'm trying to use your library as a server, but I found that it just supports 5 requests as a server.
Why that happens ?

[2019-06-06 07:20] michalpasztamobica commented on #41
Hello :) Is there any progress on this?

[2019-06-18 07:26] TuomoHautamaki commented on #41
Hi @jeromecoutant could you help to resolve this with Michal.

[2019-06-19 06:26] jeromecoutant commented on #53
Closed

[2019-06-19 06:28] jeromecoutant commented on #53
Repoened as #57 is not merged

[2019-06-27 08:49] jeromecoutant opened #59 "Compilation warnings"
To check with ARM and GCC:

GCC status:
[code]

[2019-07-03 08:55] #53 closed

[2019-08-01 12:22] michalpasztamobica commented on #41
I took another look at this issue. Let me mention my findings and thoughts, in case they turn out to be helpful.

1) I reverted to mbed-os rev. [7201cab3c48f3b4f3fb91c69c22e519c631f562e](https://github.com/ARMmbed/mbed-os/commit/7201cab3c48f3b4f3fb91c69c22e519c631f562e) which is before https://github.com/ARMmbed/mbed-os/pull/9387 and I got the same failure as described above.
[code]

2) the test w

[2019-08-21 06:55] jeromecoutant commented on #41
Hi
Tests with #61 are on going

[2019-08-21 09:33] jeromecoutant commented on #41
Closing as test should be OK now

[2019-08-21 09:33] #41 closed

[2019-09-23 18:20] marcuschangarm opened #63 "Regression, second TCP connection closes the first TCP connection"
I'm running the latest Pelion Device Management client together with a custom application that uses TCP. After Pelion client is connected I start my application. Both Pelion and my application use DNS.

Before commit https://github.com/ARMmbed/wifi-ism43362/commit/7d1e2f9a516614e4090d7fc11a95c00e3d4366b9 everything worked fine, both applications could connect and send data concurrently. After the

[2019-09-24 06:33] LMESTM commented on #63
First thing I need to ask:
C3.5.2.5.STM firmware version is the latest one - do you confirm this is the version you use ?
In case update is needed, there is a small (Windows) utility and readme here:
https://www.st.com/resource/en/utilities/inventek_fw_updater.zip

[2019-09-24 07:02] LMESTM commented on #63
@marcuschangarm would you be able to activate traces in ISM drivers files [here](https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ISM43362.cpp#L22) and [here](https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362Interface.cpp#L33) and reproduce your issue ?

[2019-09-24 14:50] marcuschangarm commented on #63
@LMESTM I've sent you an email with the trace.

[2019-09-27 04:32] cornebester opened #64 "Library dont work with latest Inventek firmware C3.5.2.5.STM"
When used together with https://github.com/ARMmbed/mbed-os-example-wifi

[2019-09-27 07:57] LMESTM commented on #64
please provide more information, including mbed-os-example-wifi version and a description of what doesn't work, including a log typically

[2019-09-27 11:38] cornebester commented on #64
Tried the default version from [here](https://os.mbed.com/teams/ST/code/mbed-os-example-wifi/) using Mbed online as well as updating libs via online. Also tried mbed studio with default version which gave same result and updating to latest libs mbed OS cause build to fail.
Board: DISCO_L475VG_IOT01A

terminal output

[code]
Sample https://os.mbed.com/teams/ST/code/DISCO_L475VG_IOT01-wifi_http_serv

[2019-10-02 11:03] jeromecoutant commented on #63
@michalpasztamobica @SeppoTakalo as regression could come from #61

[2019-11-27 18:00] michalpasztamobica opened #66 "socket_sendto hangs when invalid SocketAddress is provided (only with IAR compiler)"
I wrote a simple app to reproduce the issue:
[code]

The `addr` is incorrect. For ARM compiler we get a reasonable error code, but for IAR the application hangs and never returns.

See full logs (with debug prints) below.
I see that the modem asks for FW update, but I haven't found any newer firmware than the one we have. I searched [here](https://www.inventeksys.com/ism43362-m3g-l44-at-command-se

[2019-11-28 07:26] LMESTM commented on #66
Hi @michalpasztamobica

The utility to upgrade firmware on B-L475-IOT01A board can be found here: https://www.st.com/resource/en/utilities/inventek_fw_updater.zip

It also contains instructions and address where to get firmware : https://www.inventeksys.com/iwin/firmware/

The recommended firmware version is ISM43362-M3G-L44-SPI-C3.5.2.5.STM

I will update the README with this information.

[2019-11-28 07:39] michalpasztamobica commented on #66
Hi @LMESTM ,
Thank you for this information, I will check if firmware update helps.
In case you have an updated chip at your disposal and if you have time to compile and verify this behavior with IAR, I'd be grateful for feedback.

[2019-11-28 08:42] LMESTM commented on #64
Hi @cornebester

Sorry for not coming back earlier to you.
I just tested now. With the latest firmware ISM43362-M3G-L44-SPI-C3.5.2.5.STM
I cloned the latest version of mbed-os-example-wifi
I used below mbed_app.json.
Not sure if the idle thread size is needed, but I had this from previous old tests - maybe this is the problem you were having ...

[code]
and this works ok !
[code]

[2019-11-28 08:45] LMESTM commented on #66
@michalpasztamobica can you share the mbed_app.json you're using ?

[2019-11-28 10:40] michalpasztamobica commented on #66
This was enough to run the app I pasted above:
[code]
Just set SSID and PASSWORD to your network credentials.
Also, please remember you need to `mbed add wifi-ism43362` in the mbed-os directory.

[2019-11-28 13:25] LMESTM commented on #66
@michalpasztamobica
I could reproduce the issue - #67 should solve it.

[2019-11-28 15:35] LMESTM commented on #64
Closing for now - please re-open if you're reproducing the issue

[2019-11-28 15:56] #66 closed

[2019-12-12 16:48] michalpasztamobica opened #68 "Scan fails when more than about 20 networks are in range"
This is a follow-up of an investigation performed in https://github.com/ARMmbed/mbed-os-example-wifi/issues/177.

Quoting @LMESTM 's proposal:

[2019-12-14 10:56] cornebester commented on #64
Thanks @LMESTM. It works! Appreciated

[2019-12-14 10:56] #64 closed

[2019-12-19 14:23] #59 closed

[2020-01-03 14:35] #68 closed

[2020-01-20 19:22] dansitu commented on #53
Hi @jeromecoutant - I'm using the latest code but still seeing the issue while using the STM B-L475E-IOT01A1 dev board. I was able to resolve the issue by placing my board in the refrigerator, which sufficiently reduced the number of networks within range.

[2020-01-22 13:21] JanneKiiskila opened #72 "Fails to connect in crowded Wi-Fi environments"
Our office has easily 50 Wi-Fi access points. In this environment the Wi-Fi module (with updated firmware) fails to connect.

Not expecting a fix, but possibly should be added as a known issue.

Version of this library; https://github.com/ARMmbed/wifi-ism43362/#1978369b2310ea3955715b67869b717fd224a74c
Wi-Fi firmware; ISM43362Interface: read_version = 3525

Related issue; https://github.com/ARMmbed

[2020-01-22 14:16] MarceloSalazar commented on #72
@ARMmbed/team-st-mcd can you please have a look and comment?

[2020-01-22 15:22] ABOSTM commented on #72
Hi @JanneKiiskila,
It looks like you have the right version (3525) to be able to scan AP one by one,
but can you verify that you compile with the corresponding wifi-ism43362 patch below ?
https://github.com/ARMmbed/wifi-ism43362/pull/69

[2020-01-22 19:48] janjongboom commented on #72
Me and @dansitu see the same.

[2020-01-23 08:44] ABOSTM commented on #72
@janjongboom and @dansitu
Do you have wifi Firmware version 3525 and do you compile wifi-ism43362 driver with patch #69 ?

[2020-01-23 10:21] JanneKiiskila commented on #72
In our use case we do not even use scan at all, we know the APN we want to connect to, so we just connect directly to it. So, I'm not sure if the patch #69  would help, since we're not scanning (as far as I know, I don't know then if the driver does some scanning anyway underneath the connect -call?).

[2020-01-23 10:25] LMESTM commented on #72
Ok that might be an RF issue then ... as you may have seen the board doesn't have a big antenna and I don't think it is very good in long ranges or maybe loudy environments - could you check what happens if the the board is close to the Access Point you're trying to connect to ?

[2020-01-23 18:16] janjongboom commented on #72
@LMESTM We also see the exact same thing as @JanneKiiskila. Just no replies from the chip if there's lots of networks. But I haven't tried the supplied patch nor updating my WiFi radio.

[2020-02-12 12:06] JanneKiiskila commented on #72
RF should not be an issue, I've tried to use my mobile phone as the APN, so it's been literally centimetres away from the board itself and it still can't connect.

[2020-03-10 09:56] jeromecoutant commented on #63
Hi

Does Pelion client use TCP as well or UDP ?

@JeanMarcR

[2020-03-10 10:20] JeanMarcR commented on #63
Pelion client can use either TCP or UDP. The choice is done during registration.
You can specify TCP or UDP in the configuration file : mbed_cloud_client_user_config.h
(for instance TCP connection : #define MBED_CLOUD_CLIENT_TRANSPORT_MODE_TCP).

[2020-03-10 11:00] janjongboom commented on #63
I'm seeing this too but with two connections. I assumed it by design of the WiFi radio?

[2020-03-13 07:54] JeanMarcR commented on #63
Hi all I would like to run a Pelion Device Management client. But I obtain the following error message: client_error(16) -> Failed to read credentials from storage.

[2020-03-23 08:22] JeanMarcR commented on #63
Hi all,
I'm running the latest Pelion Device Management client together with a custom application that uses TCP. I'm obtaining a system error message because the ism43362 thread stack size is too small (1024 bytes). I'm increasing the stack size up to 2048 bytes -> no crash.
By default the ism43362 thread stack size = 4096 bytes.
It is possible to change this value (parameter "ism43362.read-thread

[2020-04-01 07:21] JeanMarcR commented on #63
Hi all,
I'm joining an example of two TCP/IP connections :
- the first one is a connection to the PELION cloud,
- the second one is a connection to the echo server.
Two threads (PELION thread - echo thread) are managing the connections.
You can look at the code at the following address:
**https://github.com/JeanMarcR/mbed-os-example-wifi/tree/TWO_THREADS**

Platform: DISCO_L475E with latest wifi f

[2020-05-02 20:52] janjongboom opened #74 "-3009 (DNS Failed), any idea how to debug?"
Hi @jeromecoutant, one of our users is using this WiFi radio on the ST B-L475E-IOT01A but sees all requests fail with a `-3009` error. Looking at the NSAPI error table in Mbed OS that seems like a DNS error, so I'm suspecting a firewall issue somewhere. Do we have any good idea on how we could debug this properly for this chip?

Some info:

https://forum.edgeimpulse.com/t/uploading-finishes-but-no

[2020-05-04 06:07] jeromecoutant commented on #74
@JeanMarcR Could you have a look ?
Thx

[2020-05-04 08:18] JeanMarcR commented on #74
Yes, I am looking at.

[2020-05-04 15:20] JeanMarcR commented on #74
Hi all,

You could try the following steps :
- Removing the gethostbyname() or getb hostbyname_async() from your code,
- Using the IP address of the server (you would like to connect),
- Checking your application.
If the problem is due to DNS server, your application must run correctly.
Maybe there is a firewall issue.
So, to enable communication with the DNS server, firewall must authorize  UDP a

[2020-05-08 10:59] kivaisan opened #75 "DISCO_L475VG_IOT01A doesn't get DNS response from default mbed-os DNS servers in my home network"
DISCO_L475VG_IOT01 does not get DNS response from default mbed-os DNS servers (8.8.8.8 and 209.244.0.3 at least) in my home network.

According to driver trace, in failure case driver never gets a response:
[DNS_nok.log](https://github.com/ARMmbed/wifi-ism43362/files/4598530/DNS_nok.log)

But if I use my operators own DNS server, system gets the response:
[DNS_ok.log](https://github.com/ARMmbed/wi

[2020-05-12 08:42] janjongboom commented on #75
Related #74.

[2020-05-14 11:09] JeanMarcR commented on #75
Hi all
Indeed, I am reproducing the problem. Moreover I am not able to connect to any DNS server.
Something could help me.
Please, could you generate the traces again (DNS_ok.log) but after setting AT traces.
You can set AT traces at the beginning of the ATParser.cpp.
#define dbg_on           1
#define AT_DATA_PRINT    1
#define AT_COMMAND_PRINT 1
#define AT_HEXA_DATA     1
Thanks
Best regards.

[2020-05-14 14:05] kivaisan commented on #75
@JeanMarcR Here you go:
[DNS_ok_at_traces.log.zip](https://github.com/ARMmbed/wifi-ism43362/files/4628885/DNS_ok_at_traces.log.zip)

[2020-05-14 14:37] JeanMarcR commented on #75
Thanks.
Could you tell me the exact string you give to function gethostbyname() ?

Best regards

[2020-05-14 15:07] kivaisan commented on #75
This is from [mbed-os-example-sockets](https://github.com/ARMmbed/mbed-os-example-sockets), so string is `"ifconfig.io"`. See https://github.com/ARMmbed/mbed-os-example-sockets/blob/2c14bec4063bdee6b6f4bef6760c8a5c4b5fb7bc/main.cpp#L46

[2020-05-18 08:18] JeanMarcR commented on #75
Hi,

Please could you set AT traces at the beginning of the ATParser.cpp.
#define dbg_on 1
#define AT_DATA_PRINT 1
#define AT_COMMAND_PRINT 1
#define AT_HEXA_DATA 1

and AFTER
generate again the file DNS_nok.log (in failure case driver).

Best regards

[2020-05-18 11:59] kivaisan commented on #75
NOK case with AT traces (I stopped test after some time, so example still keeps trying):
[DNS_nok_at_traces.log.zip](https://github.com/ARMmbed/wifi-ism43362/files/4643938/DNS_nok_at_traces.log.zip)

[2020-05-18 13:17] kivaisan opened #76 "Driver returns 0 for UDP socket recvfrom if called before sendto"
If user has and UDP socket and first calls `recvfrom` before calling `sendto`, driver always returns data size of 0.
This is a bit confusing as 0 means packet with no data was received, which is not true. If driver hasn't received anything, it should return `NSAPI_ERROR_WOULD_BLOCK`.

[2020-05-18 13:19] jeromecoutant commented on #76
@JeanMarcR

[2020-05-26 09:32] JeanMarcR commented on #75
@kivaisan
Please, could you check PR #78

[2020-05-26 10:30] kivaisan commented on #75
@JeanMarcR #78 works for syncronous DNS queries, but PR is missing async API, which is used for example by PDMC. So please implement `gethostbyname_async` and `gethostbyname_async_cancel` as well.

[2020-05-27 08:06] JeanMarcR commented on #75
@kivaisan
Functions gethostbyname_async() and gethostbyname_async_cancel() are already present. : NetworkInterface::gethostbyname_async() and NetworkInterface::gethostbyname_async_cancel().
I am also running the test mbed test -t ARM -v -n tests-netsocket-dns without any problem. (test case results: 16 OK)
**So, did you find a problem with these functions ?
or are you surprised not to find them in

[2020-05-27 11:18] kivaisan commented on #75
@JeanMarcR Yes they are, but since you now workaround the issue by overriding `NetworkInterface::gethostbyname` by offloading mbed-os' default DNS API functionality into modem's own DNS API, the same fix does not apply for asynchronous API. So if application (like PDMC) calls `gethostbyname_async()`, it still doesn't work.

[2020-05-28 14:16] JeanMarcR commented on #75
@kivaisan
I am trying to add gethostbyname_async() into modem's API.
It seems more complicated than for gethostbyname().
A solution could be to add dynamically (NetworkStack::add_dns_server()) a new DNS server to the list of mbed-os' default DNS servers. This new DNS server is the main DNS server given by the WiFi Network Settings.
What do you think about that ?
Thanks.

[2020-06-01 06:29] kivaisan commented on #75
@JeanMarcR Please check for example our cellular example how offloaded DNS has been implemented: https://github.com/ARMmbed/mbed-os/blob/c7759fe505d922fe00ee3128dc60110f66647815/features/cellular/framework/targets/QUECTEL/BG96/QUECTEL_BG96_CellularStack.cpp#L482 . I'm not familiar with ISM43362 AT interface, so I can't comment how easy it is to adapt similar solution with it.

I'm not that confide

[2020-06-01 07:50] JeanMarcR commented on #75
@kivaisan

Function QUECTEL_BG96_CellularStack::gethostbyname_async() is written by QUECTEL company. QUECTEL company is the designer of the BG96 : LTE/GPRS Hardware module.

I am not sure that the writing of ISM43362Interface::gethostbyname_async()
concerns STMicroelectronics.
STMicroelectronics is not the designer of the WiFi HW module : ISM43362.

Regards

[2020-06-01 12:28] kivaisan commented on #75
@JeanMarcR I was able get tcpdump from my router and I think I found the reason for the issue. ISM seems to add the same port (53) as source port to DNS UDP packet and I think my operator will block that response from internet.

Please check if you can modify that source port to be some >1024. Although it is most probably set by IP stack in ISM43362 module, so fix should be requested from Inventek

[2020-06-02 06:56] JeanMarcR commented on #75
@kivaisan
The port (53) of DNS server is specified (hard coded) in nsapi_dns_get_server_addr() function. This function belongs to mbed-os module not ISM43362.
You can easily modify the value but you need to re-compile mbed-os.
Regards.

[2020-06-02 07:13] kivaisan commented on #75
@JeanMarcR Yes, but that is destination port. I'm talking now about source port.

ISM driver seems to set the source port here:
https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ISM43362.cpp#L677-L696
and according to my above NOK log, port is something else but 53: `AT> P2=64779` , but still according to tcpdump, source port is 53.

[2020-06-02 11:57] JeanMarcR commented on #75
@kivaisan
I think the local port is randomly defined in ISM43362::open().
In my traces I can find : P2=59437 or P2=59436 ... with OK returned by the WiFi module.
Be aware also that it is the UDP protocol which is used and not TCP protocol.
The only explanation could be that the P2=59437 is not well interpreted by the WiFi module.
Where is the TCPDUMP generated ?

[2020-06-02 12:17] kivaisan commented on #75
Maybe there is a bug then in ISM wifi firmware.
I took tcpdump from my home router to see what data goes through it.

[2020-06-02 14:33] JeanMarcR commented on #75
@kivaisan
I am going to write a mail to our WiFi module supplier (INVENTEK SYSTEMS) to explain the problem : incoherence between the local port number (64779) given at AT command P2  and the local port number (53 ) given by your tcpdump traces.

[2020-06-03 12:26] esajaa opened #79 "Missing `set_blocking` and other blocking-related implementation"
At the moment there is no method of switching between blocking and non-blocking functionality, and the driver is always blocking.

[2020-06-04 06:50] iampoonam opened #80 "Opening client connection to remote server shows success even if no server is started on the specified remote IP and port"
The AT command P6=1 always gives success even if there is no server with the specified IP address and port. Is there a way to check if the target as client actually got connected to the specified server ?

[2020-06-04 08:32] LMESTM commented on #80
@iampoonam - I think this question should rather be asked to Inventek support .

[2020-06-05 06:31] JeanMarcR commented on #75
@kivaisan

Please,
Could you send me the full traces ?
Best regards

[2020-06-05 07:31] kivaisan commented on #75
What do you mean by "full traces"?

[2020-06-05 08:57] JeanMarcR commented on #75
@kivaisan
You spoke about NOK log and TCPDUMP from your HOME network.
Best regards

[2020-06-08 05:39] kivaisan commented on #75
@JeanMarcR Here is one run with atparser log and screenshot of the tcpdump (I'm not sharing the while tcpdump capture as it contains a lot of other network data):
[dns_nok_2.log](https://github.com/ARMmbed/wifi-ism43362/files/4744045/dns_nok_2.log)
![dns_nok_2_tcpdump](https://user-images.githubusercontent.com/31539332/83995824-1eb11680-a963-11ea-99cb-f5329426d261.png)

[2020-06-08 11:01] jeromecoutant commented on #74
Hi @janjongboom
Could you try #78 ?
Thx

[2020-06-15 09:03] JeanMarcR commented on #75
@kivaisan
The Inventek approach concerning UDP socket is quite confusing.
 P2 is local Port and P4 is remote port according from Inventek AT command .
**This notion becomes false for UDP approach** .
To send UDP data from inventek to a remote you have first to start what inventek is calling an UDP client. While setting this client, you have to provide the local socket you want to use and you shoul

[2020-06-15 09:19] JeanMarcR commented on #75
@kivaisan
I am writing a patch.

[2020-06-15 09:34] kivaisan commented on #75
@JeanMarcR Good that this got clarified. Above doesn't look confusing at all. It is normal that command set is different based on protocol.

[2020-06-19 07:01] JeanMarcR commented on #75
@kivaisan
This patch could solve the problem.

[patch.txt](https://github.com/ARMmbed/wifi-ism43362/files/4802905/patch.txt)

[2020-06-22 06:02] kivaisan commented on #75
@JeanMarcR Tnx. Now it DNS works nicely.

But I would change `type` parameter to be `nsapi_protocol_t` instead of char and doing to char conversion inside `ISM43362::open` for `P1` parameter. This would simplify the code and get rid of unnecessary `memcmp` operations.

[2020-06-26 07:42] jeromecoutant commented on #75
@kivaisan
Let's do it in 2 steps ?
- DNS patch in this PR as proposed by @JeanMarcR
- API update ?

[2020-07-02 10:24] kivaisan commented on #75
What ever way suites best for you. But could you please submit the fixes?

[2020-07-02 12:52] JeanMarcR commented on #75
@kivaisan
Yes I am going to submit the fixe.

[2020-08-31 15:14] jeromecoutant commented on #75
I suppose it is #78

[2020-08-31 15:15] jeromecoutant commented on #74
Any update ?
Thx

[2020-09-09 15:18] jeromecoutant commented on #53
Hi @dansitu
I have updated a little the scan procedure again in
https://github.com/ARMmbed/wifi-ism43362/pull/83 ?
Maybe you could checked it ?
Thx

@michalpasztamobica

[2020-09-25 08:46] janjongboom commented on #74
@jeromecoutant Sorry, GH notifications overload. I can't test this for the user on an unlanded PR. I'll update the WiFi driver for the firmware once it lands (hard to test I know!).

[2020-10-19 12:04] JeanMarcR commented on #76
@kivaisan
Hi

Do you use the board B-L475E-IOT01A ?

Best regards

[2020-10-19 12:11] kivaisan commented on #76
Yes. If I remember correcttly, the problem is in this part:
https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362Interface.cpp#L479-L482

Internal connect flag is not set until user calls `sendto`.

[2020-11-02 13:16] JeanMarcR commented on #76
@kivaisan
Hi
1 - ) socket.open()
2 - ) socket.connect()
3 - ) socket.recv() -> return 0

Please, could you tell me if it is the sequence of function calls you have done ?
Best regards

[2020-11-02 13:23] kivaisan commented on #76
I don't remember anymore the use case where I found this, but I think your sequence is right.

[2020-11-03 15:34] JeanMarcR commented on #76
@kivaisan

Please, could you check the following patch:
in file wifi-ism43362\ISM43362Interface.cpp
in function ISM43362Interface::socket_recv()

replace lines
   if (!socket->connected){
        _mutex.unlock();
	return 0;
    }

by lines

   if (!socket->connected){
        _mutex.unlock();
	if (socket->proto == NSAPI_UDP) {
	   return NSAPI_ERROR_WOULD_BLOCK;
	}
	return 0;
    }

[2020-11-03 16:53] JeanMarcR commented on #79
At this time we were mainly or only relying on SYNC APIs.
I am not sure the driver can really evolve to support the ASYNC APIs, the module firmware AT-command communication method is mostly designed for synchronous communication.

[2020-11-04 08:05] kivaisan commented on #76
@JeanMarcR Sorry, I'm currently working on another project, so I cannot test this right now.

[2020-11-13 08:18] #76 closed

[2020-11-25 17:34] LDong-Arm opened #87 "Floating point usage"
Mbed OS aims to be free from floating point usages. This driver brings in some floating point symbols:

[code]
Without this library, there's no float symbol.

[2020-11-26 10:32] JeanMarcR commented on #87
I did not find any "float" or "double" in the wifi module.
Please, could you specify the function concerned by floating point symbols ?

[2020-12-04 17:11] jeromecoutant commented on #87
Hi
Maybe we can close this issue ?
Thx

[2020-12-07 09:57] LDong-Arm commented on #87
Thanks, I suspect the symbols might be from either Mbed OS WiFi stack, or the C library.

[2020-12-07 09:57] #87 closed

[2020-12-19 09:51] han0110 commented on #80
To check whether socket is connected to remote one, my workaround is to inherit class `InternetSocket` and use `ISM43362_socket` to inspect the protected member `nsapi_socket_t _socket` to check whether is connected to remote socket. Like this:

[code]

[2020-12-21 08:14] jeromecoutant commented on #80
Hi
If you have some good workaround that can be shared with all,
don't hesitate to propose a pull request :-)
Thx

[2021-01-14 08:31] jeromecoutant commented on #75
Is #78 OK to close this issue ?

[2021-01-14 08:31] #74 closed

[2021-01-14 08:34] kivaisan commented on #75
Yes. I close the issue.

[2021-01-14 08:34] #75 closed

[2021-02-04 08:15] andrew1205lin opened #88 "wifi-ism43362 no response on B_L4S5I_IOT01A"
Greetings,

I tried to connect Wi-Fi on my B_L4S5I_IOT01A,
with both mbed-os-example-wifi(https://github.com/ARMmbed/mbed-os-example-wifi),
and mbed-os-example-sockets(https://github.com/ARMmbed/mbed-os-example-sockets),
but they didn't work.

## Here are some details:
### Running mbed-os-example-sockets directly

![image](https://user-images.githubusercontent.com/61780524/106859507-1da4d480-66fe-

[2021-02-04 13:35] JeanMarcR commented on #88
Please, could you send me your mbed_app.json ?
Thanks

[2021-02-04 13:48] JeanMarcR commented on #88
@andrew1205lin
Please, could you also send me the text present in the Tera Term ?

[2021-02-05 01:40] andrew1205lin commented on #88
@JeanMarcR

My mbed_app.json. It is the original mbed_app.json in the mbed-os-example-sockets, with "B_L4S5I_IOT01A" added.
[code]

As for text present in the Tera Term, I didn't use Tera Term. Which text do you want? In which step?

[2021-02-08 07:04] jarvte opened #89 "padding 0x15 is sometimes in read response"
I logged what's happening and I saw that there is sometimes burst of padding '0x15' in the beginning when read from the driver.
I tested to remove leading padding in here https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ISM43362.cpp#L819 and shift buffer content. It seemed to help a bit but then invalid records started to come again from tls stack. It might be that some real data was

[2021-02-08 07:11] teetak01 commented on #89
@jeromecoutant @JeanMarcR could you take a look at this?

[2021-02-08 15:45] JeanMarcR commented on #89
@jarvte
Hi
Please, could you give me the AT commands you send to the modem before and after receiving \015.

[2021-02-09 07:15] jarvte commented on #89
Hi, @JeanMarcR

From attached log is you search 'MBEDTLS_ERR_SSL_INVALID_RECORD' then the leading padding is just above that and that's the reason why tls fails. This does not happen every time but quite often.

[leading_padding.txt](https://github.com/ARMmbed/wifi-ism43362/files/5949529/leading_padding.txt)

[2021-02-09 08:13] JeanMarcR commented on #88
@andrew1205lin
I am reproducing the problem on my board.
To deepen the problem I must use the debugger MbedStudio which does not suggest the target STM32L4S5I. So, I am going to add STM32L4S5I to MbedStudio and after debugging your problem.

[2021-02-09 10:31] JeanMarcR commented on #89
@jarvte
If I well understand you use TCP-SSL and RANDOMLY an error (MBEDTLS_ERR_SSL_INVALID_RECORD) occurs.
It seems also that after receiving the error the connection is not interrupted.
Data continue to be exchanged.
The root cause seems to be an invalid ssl version:
mbedtls_ssl_read_version, major: 21, minor: 21
(attended major: 3, minor: 3)

I do not know SSL but sometimes TCP is able to recov

[2021-02-09 10:42] jarvte commented on #89
Yes, in this case issue was invalid ssl version (because of extra 0x15) as 0x15 == 21 decimal. We really should not get those extra 0x15 paddings, they should be filtered away in driver level. This might corrupt any stage in ssl handshake in UDP/TCP or invalid response data. IoT devices most likely uses UDP so retransmission is not the answer.

[2021-02-09 10:54] andrew1205lin commented on #88
@JeanMarcR
I have used another board, DISCO-L475VG-IOT01A, to follow the same procedure and do the same example.
Then, it produced the same problem, ism43362 return two lines of "/r/n".
After this attempt, I think I didn't update my firmware correctly from the beginning.

[2021-02-11 13:23] JeanMarcR commented on #89
If I well understand, at client site (STM32) the software layer TLS (Session layer) receives erroneous data from the software layer TCP (transport layer) (see the joined file).
That leads to a problem(extra 0x15) with ssl handshake.
"**We really should not get those extra 0x15 paddings, they should be filtered away in driver level**"
Yes. I think the filter belongs to the software layer TLS at the

[2021-02-11 13:37] JeanMarcR commented on #88
Hi

I made a test with the following WIFI module:
ISM43362: get_firmware_version = ISM43362-M3G-L44-SPI,C3.5.2.5.STM,v3.5.                                                                             2,v1.4.0.rc1,v8.2.1,120000000,Inventek eS-WiFi
ISM43362Interface: read_version = 3525
with board **DISCO-L475VG-IOT01** **mbed-os 6.7.0**

As you can see the result of get_firmware_version() is not FAI

[2021-02-12 06:47] teetak01 commented on #89
TLS is platform agnostic, and so it the client-code using it. I do not see why either should have to consider driver-specific implementation.

The driver has already identified that this kind of issues so to me it would make sense to cover also the remaining areas where it can return extra paddings.

https://github.com/ARMmbed/wifi-ism43362/blob/master/ISM43362/ISM43362.cpp#L819

The DISCO-L475VG-

[2021-02-15 12:28] JeanMarcR commented on #88
@andrew1205lin

Please, could you give me the result of command : **mbedls** for boards L475 & board L4S5 ?

Thanks

[2021-02-15 15:15] JeanMarcR commented on #88
Hi,
I run with no error the mbed-os-example-sockets application on the STM32-L4S5I board.
I needed to rebase my git repository of WiFi Library thanks to the master of https://github.com/ARMmbed/wifi-ism43362.git
You could check the presence of board B_L4S5I_IOT01A in mbed-os-example-sockets\wifi-ism43362\mbed_lib.json.

Best regards

[2021-02-15 16:02] andrew1205lin commented on #88
Hi,

Here's the result of command :  **mbedls**.
![image](https://user-images.githubusercontent.com/61780524/107968877-e1b91b80-6fe9-11eb-8af4-433eb584524b.png)

Thanks

[2021-02-16 09:30] JeanMarcR commented on #89
Please, could you tell me how I can reproduce your problem:
- which is the application  ?
- which is the PELION server ?

I think the board is DISCO-L475VG-IOT01A.
Best regards

[2021-02-16 11:33] teetak01 commented on #89
Hi @JeanMarcR

We reproduced it with [pelion-client-lite-example](https://github.com/PelionIoT/pelion-client-lite-example). There is tutorial available [here](https://developer.pelion.com/docs/pelion-client-lite/v1.3/developer-guide/index.html).

Using https://portal.mbedcloud.com/login for Pelion cloud-connectivity. Free-tier accounts are available, for. example with Mbed Account.

[2021-02-19 09:38] JeanMarcR commented on #89
@jarvte
Please, could you check if the problem is still present with the following improved files:
- ISM43362/ATParser/ATParser.cpp,
- ISM43362Interface.cpp.
Is your local branch up to date with 'origin/master' ?

[2021-02-19 09:42] JeanMarcR commented on #89
Sorry.
The files are joined.
[ISM43362Interface.cpp.GZ](https://github.com/ARMmbed/wifi-ism43362/files/6008949/ISM43362Interface.cpp.GZ)
[ATParser.cpp.GZ](https://github.com/ARMmbed/wifi-ism43362/files/6008957/ATParser.cpp.GZ)
Before using the files, do not forget to remove the suffix GZ.

[2021-02-19 10:22] teetak01 commented on #89
@JeanMarcR maybe you could open a PR with the proposed fixes so its easier to verify it/comment on it.

[2021-02-19 11:47] JeanMarcR commented on #89
@teetak01
https://github.com/ARMmbed/wifi-ism43362/pull/90

[2021-03-05 07:56] JeanMarcR commented on #88
@andrew1205lin
May I close the issue ?

[2021-03-05 09:05] andrew1205lin commented on #88
@JeanMarcR
OK, you can close this issue.
Thanks for your support.
I think there may be some silly mistakes I have made.

Final question, could you tell me if I need to do something extra, such as move the jumper, when updating firmware, please?

[2021-03-09 15:01] JeanMarcR commented on #88
@andrew1205lin
No extra things to do to update the WiFi firmware.
You can find the procedure : https://github.com/ARMmbed/wifi-ism43362
§Firmware version & firmware update

[2021-03-09 15:01] #88 closed

[2021-03-26 14:24] JeanMarcR commented on #89
Hi, @jarvte @teetak01

Concerning the error 'MBEDTLS_ERR_SSL_INVALID_RECORD' described in your log file :leading_padding.txt, a possible cause could be an overflow of the receiver buffer of mbedTLS.
I suggest you to put define MBEDTLS_SSL_MAX_CONTENT_LEN -> 6000 for access to AWS.

In file pelion-client-lite-example\**mbedtls_mbed_client_config.h**
**#define MBEDTLS_SSL_MAX_CONTENT_LEN 6000**

Let

[2021-04-01 15:02] jeromecoutant commented on #89
#93 merged
Waiting for feedback about mbedtls configuration before closing this ticket
Thx

[2021-06-22 12:34] #89 closed

[2021-06-22 12:35] #80 closed

[2021-06-22 12:36] jeromecoutant commented on #79
Closing

[2021-06-22 12:36] #79 closed

[2021-06-22 12:38] jeromecoutant commented on #72
Is this issue still present with all latest patch and up to date wifi FW ?
Thx

[2021-06-22 12:39] jeromecoutant commented on #63
Closing as a workaround has been provided

[2021-06-22 12:39] #63 closed

[2021-06-22 13:00] JanneKiiskila commented on #72
Both me @janjongboom have moved onto other activities, so please don't expect any testing from our side on this issue.

[2021-12-02 09:35] #24 closed

[2022-07-22 08:12] #30 closed

[2022-07-22 08:12] #36 closed

[2022-07-22 08:13] #56 closed

[2022-07-22 08:14] #58 closed

[2022-07-22 08:18] #72 closed